apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: proxy-NUMBER
  namespace: default
  labels:
    test: batch
spec:
  virtualhost:
    fqdn: dns-NUMBER.example.com
  routes:
  - services:
    - name: service-NUMBER
      port: 80