apiVersion: v1
kind: Service
metadata:
  name: service-NUMBER
  namespace: default
  labels:
    test: batch
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
  type: ClusterIP
